<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	<!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

	<!-- Position Column -->
	<ng-container matColumnDef="position">
		<th mat-header-cell *matHeaderCellDef> No. </th>
		<td mat-cell *matCellDef="let element"> {{element.position}} </td>
	</ng-container>

	<!-- analytical_Function Column -->
	<ng-container matColumnDef="analytical_Function">
		<th mat-header-cell *matHeaderCellDef> analytical_Function </th>
		<td mat-cell *matCellDef="let element">
			<div cdkDropList *ngFor="let item of element.analytical_Function" [cdkDropListData]="item"
				(cdkDropListDropped)="drop($event)">
				<button mat-button color="primary" cdkDrag>{{item}}</button>
				<button mat-button [ngStyle]="{'color': 'red'}" *ngIf="element.analytical_Function.length === 0">empty list ...</button>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- New Table -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	<!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

	<!-- Position Column -->
	<ng-container matColumnDef="position">
		<th mat-header-cell *matHeaderCellDef> No. </th>
		<td mat-cell *matCellDef="let element"> {{element.position}} </td>
	</ng-container>

	<!-- analytical_Function Column -->
	<ng-container matColumnDef="analytical_Function">
		<th mat-header-cell *matHeaderCellDef> analytical_Function </th>
		<td mat-cell *matCellDef="let element; let row = index">
			<div>
				<button mat-button *ngFor="let item of element.analytical_Function" color="primary">{{item}}</button>
				<button mat-button [ngStyle]="{'color': 'red'}" *ngIf="element.analytical_Function.length === 0">empty list ...</button>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row = index; columns: displayedColumns;" let i="index" (mouseover)="rowClick(row)"></tr>
</table>